-- MySQL dump 10.13  Distrib 26.7.0, for Win64 (x86_64)
--
-- Host: localhost    Database: amistoso
-- ------------------------------------------------------
-- Server version	26.7.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `articulos`
--

DROP TABLE IF EXISTS `articulos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articulos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero_articulo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `categoria_id` int NOT NULL,
  `aplica_bateria` tinyint(1) NOT NULL DEFAULT '0',
  `minutos_bateria_restante` int DEFAULT NULL,
  `minutos_bateria_minima` int NOT NULL DEFAULT '20',
  `estado` enum('DISPONIBLE','RENTADO','GUARDADO','FUERA_DE_SERVICIO','DADO_DE_BAJA') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DISPONIBLE',
  `creado_en` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_articulo` (`numero_articulo`),
  KEY `fk_articulos_categoria` (`categoria_id`),
  CONSTRAINT `fk_articulos_categoria` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articulos`
--

LOCK TABLES `articulos` WRITE;
/*!40000 ALTER TABLE `articulos` DISABLE KEYS */;
INSERT INTO `articulos` VALUES (1,'001',1,1,10,20,'GUARDADO','2026-09-21 02:28:33');
/*!40000 ALTER TABLE `articulos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoria_login`
--

DROP TABLE IF EXISTS `auditoria_login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria_login` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_usuario` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `exitoso` tinyint(1) NOT NULL,
  `ip_origen` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_hora` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria_login`
--

LOCK TABLES `auditoria_login` WRITE;
/*!40000 ALTER TABLE `auditoria_login` DISABLE KEYS */;
INSERT INTO `auditoria_login` VALUES (1,'adminis',1,'127.0.0.1','2026-09-21 02:25:41');
/*!40000 ALTER TABLE `auditoria_login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `costo_por_minuto` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`),
  CONSTRAINT `categorias_chk_1` CHECK ((`costo_por_minuto` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
INSERT INTO `categorias` VALUES (1,'Bicicletas',5.00);
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `renta_detalles`
--

DROP TABLE IF EXISTS `renta_detalles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `renta_detalles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `renta_id` int NOT NULL,
  `articulo_id` int NOT NULL,
  `tiempo_rentado_minutos` int NOT NULL,
  `hora_inicio` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `hora_entrega_programada` timestamp NOT NULL,
  `hora_pausa_actual` timestamp NULL DEFAULT NULL,
  `segundos_pausados` int NOT NULL DEFAULT '0',
  `hora_entrega_real` timestamp NULL DEFAULT NULL,
  `minutos_excedidos` int NOT NULL DEFAULT '0',
  `cargo_extra` decimal(10,2) NOT NULL DEFAULT '0.00',
  `estado` enum('ACTIVA','PAUSADA','FINALIZADA') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVA',
  PRIMARY KEY (`id`),
  KEY `fk_detalles_renta` (`renta_id`),
  KEY `fk_detalles_articulo` (`articulo_id`),
  CONSTRAINT `fk_detalles_articulo` FOREIGN KEY (`articulo_id`) REFERENCES `articulos` (`id`),
  CONSTRAINT `fk_detalles_renta` FOREIGN KEY (`renta_id`) REFERENCES `rentas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `renta_detalles`
--

LOCK TABLES `renta_detalles` WRITE;
/*!40000 ALTER TABLE `renta_detalles` DISABLE KEYS */;
INSERT INTO `renta_detalles` VALUES (1,1,1,30,'2026-09-21 02:30:28','2026-09-21 03:03:28',NULL,0,'2026-09-21 02:30:53',0,0.00,'FINALIZADA'),(2,2,1,30,'2026-09-21 02:32:51','2026-09-21 03:05:51',NULL,0,'2026-09-21 02:32:57',0,0.00,'FINALIZADA'),(3,3,1,30,'2026-09-21 02:34:14','2026-09-21 03:07:14',NULL,0,'2026-09-21 02:34:22',0,0.00,'FINALIZADA'),(4,4,1,40,'2026-09-21 02:35:08','2026-09-21 03:18:24',NULL,16,'2026-09-21 02:36:38',0,0.00,'FINALIZADA'),(5,5,1,20,'2026-09-21 02:46:11','2026-09-21 03:13:02',NULL,231,'2026-09-21 02:51:10',0,0.00,'FINALIZADA');
/*!40000 ALTER TABLE `renta_detalles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rentas`
--

DROP TABLE IF EXISTS `rentas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rentas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `monto_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `monto_pagado` decimal(10,2) NOT NULL DEFAULT '0.00',
  `cambio_devuelto` decimal(10,2) NOT NULL DEFAULT '0.00',
  `fecha_renta` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_rentas_usuario` (`usuario_id`),
  CONSTRAINT `fk_rentas_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rentas`
--

LOCK TABLES `rentas` WRITE;
/*!40000 ALTER TABLE `rentas` DISABLE KEYS */;
INSERT INTO `rentas` VALUES (1,1,150.00,200.00,50.00,'2026-09-21 02:30:28'),(2,1,150.00,150.00,0.00,'2026-09-21 02:32:51'),(3,1,150.00,500.00,350.00,'2026-09-21 02:34:14'),(4,1,200.00,500.00,300.00,'2026-09-21 02:35:08'),(5,1,100.00,200.00,100.00,'2026-09-21 02:46:11');
/*!40000 ALTER TABLE `rentas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_usuario` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `correo` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contrasena_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rol` enum('ADMINISTRADOR','AUXILIAR') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'AUXILIAR',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `creado_en` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre_usuario` (`nombre_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'adminis','kamberlaynk2505@gmail.com','$2b$12$wFAoHVhwDOCnDNk.n4zaR.efQUe6Lxd/HcGEzq0NviKzcaLnEKdLm','ADMINISTRADOR',1,'2026-09-21 02:14:25');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'amistoso'
--

--
-- Dumping routines for database 'amistoso'
--
/*!50003 DROP PROCEDURE IF EXISTS `sp_autenticar_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_autenticar_usuario`(
    IN p_nombre_usuario VARCHAR(50),
    IN p_ip VARCHAR(45)
)
BEGIN
    SELECT 
        id,
        nombre_usuario,
        correo,
        contrasena_hash,
        rol,
        activo
    FROM usuarios
    WHERE nombre_usuario = p_nombre_usuario
      AND activo = TRUE;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_entregar_articulo` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_entregar_articulo`(
    IN p_renta_detalle_id INT
)
BEGIN
    DECLARE v_articulo_id INT;
    DECLARE v_hora_entrega_programada TIMESTAMP;
    DECLARE v_costo_minuto DECIMAL(10,2);
    DECLARE v_aplica_bateria BOOLEAN;
    DECLARE v_bateria_restante INT;
    DECLARE v_bateria_minima INT;
    DECLARE v_minutos_excedidos INT DEFAULT 0;
    DECLARE v_cargo_extra DECIMAL(10,2) DEFAULT 0.00;
    DECLARE v_nuevo_estado_art VARCHAR(20);

    SELECT
        rd.articulo_id,
        rd.hora_entrega_programada,
        c.costo_por_minuto,
        a.aplica_bateria,
        a.minutos_bateria_restante,
        a.minutos_bateria_minima
    INTO
        v_articulo_id,
        v_hora_entrega_programada,
        v_costo_minuto,
        v_aplica_bateria,
        v_bateria_restante,
        v_bateria_minima
    FROM renta_detalles rd
    JOIN articulos a
        ON rd.articulo_id = a.id
    JOIN categorias c
        ON a.categoria_id = c.id
    WHERE rd.id = p_renta_detalle_id
      AND rd.estado != 'FINALIZADA';

    IF NOW() > v_hora_entrega_programada THEN

        SET v_minutos_excedidos =
            CEIL(
                TIMESTAMPDIFF(
                    SECOND,
                    v_hora_entrega_programada,
                    NOW()
                ) / 60
            );

        SET v_cargo_extra =
            v_minutos_excedidos * v_costo_minuto;

    END IF;

    IF v_aplica_bateria = TRUE
       AND v_bateria_restante < v_bateria_minima THEN

        SET v_nuevo_estado_art = 'GUARDADO';

    ELSE

        SET v_nuevo_estado_art = 'DISPONIBLE';

    END IF;

    UPDATE renta_detalles
    SET estado = 'FINALIZADA',
        hora_entrega_real = NOW(),
        minutos_excedidos = v_minutos_excedidos,
        cargo_extra = v_cargo_extra
    WHERE id = p_renta_detalle_id;

    UPDATE articulos
    SET estado = v_nuevo_estado_art
    WHERE id = v_articulo_id;

    SELECT
        v_minutos_excedidos AS minutos_retraso,
        v_cargo_extra AS cobro_extra,
        v_nuevo_estado_art AS estado_articulo;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_extender_tiempo_articulo` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_extender_tiempo_articulo`(
    IN p_renta_detalle_id INT,
    IN p_minutos_adicionales INT,
    IN p_monto_pagado DECIMAL(10,2)
)
BEGIN
    DECLARE v_articulo_id INT;
    DECLARE v_costo_minuto DECIMAL(10,2);
    DECLARE v_aplica_bateria BOOLEAN;
    DECLARE v_bateria_restante INT;
    DECLARE v_costo_extension DECIMAL(10,2);
    DECLARE v_cambio DECIMAL(10,2);

    SELECT
        rd.articulo_id,
        c.costo_por_minuto,
        a.aplica_bateria,
        a.minutos_bateria_restante
    INTO
        v_articulo_id,
        v_costo_minuto,
        v_aplica_bateria,
        v_bateria_restante
    FROM renta_detalles rd
    JOIN articulos a
        ON rd.articulo_id = a.id
    JOIN categorias c
        ON a.categoria_id = c.id
    WHERE rd.id = p_renta_detalle_id
      AND rd.estado != 'FINALIZADA';

    IF v_aplica_bateria = TRUE
       AND v_bateria_restante < p_minutos_adicionales THEN

        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT =
        'Bater├¡a insuficiente para la extensi├│n solicitada.';

    END IF;

    SET v_costo_extension =
        v_costo_minuto * p_minutos_adicionales;

    IF p_monto_pagado < v_costo_extension THEN

        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT =
        'Monto insuficiente para liquidar extensi├│n.';

    END IF;

    SET v_cambio =
        p_monto_pagado - v_costo_extension;

    UPDATE renta_detalles
    SET tiempo_rentado_minutos =
            tiempo_rentado_minutos + p_minutos_adicionales,
        hora_entrega_programada =
            DATE_ADD(
                hora_entrega_programada,
                INTERVAL p_minutos_adicionales MINUTE
            )
    WHERE id = p_renta_detalle_id;

    IF v_aplica_bateria = TRUE THEN

        UPDATE articulos
        SET minutos_bateria_restante =
            minutos_bateria_restante - p_minutos_adicionales
        WHERE id = v_articulo_id;

    END IF;

    SELECT
        v_costo_extension AS total_cobrado,
        v_cambio AS cambio;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_pausar_renta_articulo` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_pausar_renta_articulo`(
    IN p_renta_detalle_id INT
)
BEGIN
    DECLARE v_estado VARCHAR(20);

    SELECT estado
    INTO v_estado
    FROM renta_detalles
    WHERE id = p_renta_detalle_id;

    IF v_estado = 'ACTIVA' THEN

        UPDATE renta_detalles
        SET estado = 'PAUSADA',
            hora_pausa_actual = NOW()
        WHERE id = p_renta_detalle_id;

    ELSE

        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'La renta no se encuentra activa para pausar.';

    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_reanudar_renta_articulo` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_reanudar_renta_articulo`(
    IN p_renta_detalle_id INT
)
BEGIN
    DECLARE v_estado VARCHAR(20);
    DECLARE v_hora_pausa TIMESTAMP;
    DECLARE v_segundos_transcurridos INT;

    SELECT estado, hora_pausa_actual
    INTO v_estado, v_hora_pausa
    FROM renta_detalles
    WHERE id = p_renta_detalle_id;

    IF v_estado = 'PAUSADA' AND v_hora_pausa IS NOT NULL THEN

        SET v_segundos_transcurridos =
            TIMESTAMPDIFF(SECOND, v_hora_pausa, NOW());

        UPDATE renta_detalles
        SET estado = 'ACTIVA',
            segundos_pausados =
                segundos_pausados + v_segundos_transcurridos,
            hora_entrega_programada =
                DATE_ADD(
                    hora_entrega_programada,
                    INTERVAL v_segundos_transcurridos SECOND
                ),
            hora_pausa_actual = NULL
        WHERE id = p_renta_detalle_id;

    ELSE

        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'El art├¡culo no est├í en pausa.';

    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_registrar_auditoria_login` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_registrar_auditoria_login`(
    IN p_nombre_usuario VARCHAR(50),
    IN p_exitoso BOOLEAN,
    IN p_ip VARCHAR(45)
)
BEGIN
    INSERT INTO auditoria_login
        (nombre_usuario, exitoso, ip_origen)
    VALUES
        (p_nombre_usuario, p_exitoso, p_ip);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_restablecer_contrasena` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_restablecer_contrasena`(
    IN p_nombre_usuario VARCHAR(50),
    IN p_nueva_hash VARCHAR(255)
)
BEGIN
    UPDATE usuarios
    SET contrasena_hash = p_nueva_hash
    WHERE nombre_usuario = p_nombre_usuario
      AND activo = TRUE;

    SELECT correo
    FROM usuarios
    WHERE nombre_usuario = p_nombre_usuario
      AND activo = TRUE;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-01 22:34:39
